# Pandas 101

Pandas is a very popular and ultra useful Python library that is used extensively for data manipulation. 

It can take data in many forms, such as from lists (or lists of lists), dictionaries, or even external files on your computer such as excel, CSVs etc. 

While learning Pandas, another library, numpy, will also be introduced to perform numerous functions with datasets.

**A Word on Libraries**

A library is a set of functions pre-written by someone that can be 'called' and used for their pre-defined purpose. Everything you have used and learnt so far is called the Python Standard Library, which comes pre-packaged. Pandas is an example of a library made with the Python Standard Library, that can be 'called' or imported  and it's useful predefined functions used with a lot less code.

## Importing Pandas

In [4]:
# Let's first import pandas

import pandas as pd # We rename pandas to pd so we don't have to write pandas. before every function that we call from Pandas

## Making a DataFrame...

A DataFrame object is basically a table in this sense. It acts and looks like any standard excel or SQL table. The magic is in taking different types of data and making them into tables so that it's easier for humans to read/use the data.

### ...From a List

In [5]:
dataList = [[1251,65342,164323,'What'],[635,421,1125,'Who'],[12412,8585,85434,'Where']]

df = pd.DataFrame(dataList)

In [6]:
df.head() # Displaying your list in data form

       0      1       2      3
0   1251  65342  164323   What
1    635    421    1125    Who
2  12412   8585   85434  Where

In [7]:
# Things to look out for: all sublists must be of the same length to input into a dataframe

In [8]:
# Our column names aren't very descriptive though? What can we do?
# Let's learn how to change them

colNames = ['A','B','C','D']

df.columns = colNames
df.head() #Voila!

       A      B       C      D
0   1251  65342  164323   What
1    635    421    1125    Who
2  12412   8585   85434  Where

## ....From a Dictionary

Let's say you have a dictionary of dates and another value, say average temperature for that day

In [9]:
tempDict = {'2017-09-10':35.5,'2017-09-11':33.3,'2017-09-12':31.0,'2017-09-13':34.6}

tempDF = pd.DataFrame(list(tempDict.items()),columns = ['Date','Average Temperature'])

# Notice that all you're really doing is extracting the key/value pairs and turning them into lists before passing into pandas

In [14]:
tempDF.head(1)

         Date  Average Temperature
0  2017-09-10                 35.5

### ... From an Excel File

This is something that would be most useful in real life. You have a dataset in excel somewhere, and you want to use Python to analyse it.

In [16]:
cars = pd.read_excel('cars.xls') # If you keep it in the same folder as where your ipython notebook is, you just need the name
# Otherwise, you have to provide a path to the file from your C drive in Windows, or /home/ folder in OSX

cars.head()

!cd

C:\work-py\workspace-01\machine-learning\master\101-foundation\W1.2 Pandas101

### ....From a CSV File

A CSV file is called a comma seperated file and looks like this:

ColA,ColB,ColC,ColD
<br>
1325,3115,6435,1526

Every column is seperated by a comma, and a row is seperated be a new line. 

This is probably the most common form of a dataset that you will come across a lot in this class, and in real life.

**Note:** The column separator doesn't have to be a comma, but can be any character. But remember that commonly occuring characters are a bad idea since they can occur in normal text data, and in that case, there may be conflicts with column changes

In [17]:
mov = pd.read_csv('movie_metadata.csv')
mov.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

### Data Exploration

Now we know how to import datasets, let's learn some very useful Pandas functions.

In [ ]:
# the head function that outputs the first 5 rows

mov.head()

In [47]:
# You can put in a number inside the brackets after head to see more rows

mov.head(20)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000
10,Color,Zack Snyder,673.0,183.0,0.0,2000.0,Lauren Cohan,15000.0,330249062.0,Action|Adventure|Sci-Fi,...,3018.0,English,USA,PG-13,250000000.0,2016.0,4000.0,6.9,2.35,197000
11,Color,Bryan Singer,434.0,169.0,0.0,903.0,Marlon Brando,18000.0,200069408.0,Action|Adventure|Sci-Fi,...,2367.0,English,USA,PG-13,209000000.0,2006.0,10000.0,6.1,2.35,0
12,Color,Marc Forster,403.0,106.0,395.0,393.0,Mathieu Amalric,451.0,168368427.0,Action|Adventure,...,1243.0,English,UK,PG-13,200000000.0,2008.0,412.0,6.7,2.35,0
13,Color,Gore Verbinski,313.0,151.0,563.0,1000.0,Orlando Bloom,40000.0,423032628.0,Action|Adventure|Fantasy,...,1832.0,English,USA,PG-13,225000000.0,2006.0,5000.0,7.3,2.35,5000
14,Color,Gore Verbinski,450.0,150.0,563.0,1000.0,Ruth Wilson,40000.0,89289910.0,Action|Adventure|Western,...,711.0,English,USA,PG-13,215000000.0,2013.0,2000.0,6.5,2.35,48000
15,Color,Zack Snyder,733.0,143.0,0.0,748.0,Christopher Meloni,15000.0,291021565.0,Action|Adventure|Fantasy|Sci-Fi,...,2536.0,English,USA,PG-13,225000000.0,2013.0,3000.0,7.2,2.35,118000
16,Color,Andrew Adamson,258.0,150.0,80.0,201.0,Pierfrancesco Favino,22000.0,141614023.0,Action|Adventure|Family|Fantasy,...,438.0,English,USA,PG,225000000.0,2008.0,216.0,6.6,2.35,0
17,Color,Joss Whedon,703.0,173.0,0.0,19000.0,Robert Downey Jr.,26000.0,623279547.0,Action|Adventure|Sci-Fi,...,1722.0,English,USA,PG-13,220000000.0,2012.0,21000.0,8.1,1.85,123000
18,Color,Rob Marshall,448.0,136.0,252.0,1000.0,Sam Claflin,40000.0,241063875.0,Action|Adventure|Fantasy,...,484.0,English,USA,PG-13,250000000.0,2011.0,11000.0,6.7,2.35,58000
19,Color,Barry Sonnenfeld,451.0,106.0,188.0,718.0,Michael Stuhlbarg,10000.0,179020854.0,Action|Adventure|Comedy|Family|Fantasy|Sci-Fi,...,341.0,English,USA,PG-13,225000000.0,2012.0,816.0,6.8,1.85,40000
20,Color,Peter Jackson,422.0,164.0,0.0,773.0,Adam Brown,5000.0,255108370.0,Adventure|Fantasy,...,802.0,English,New Zealand,PG-13,250000000.0,2014.0,972.0,7.5,2.35,65000

In [19]:
# To check the bottom of the dataset, use the tail function. 
# It works exactly the same way as the head function

mov.tail()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [18]:
# Check the dimensions of the dataset by using the shape function

mov.shape  # Our dataset has 5043 rows and 28 columns

(5043, 28)

In [30]:
# The numbers you see on the left most column, that doesn't have a column header is called index
# It helps makes rows unqiue and is in increments of 1 for an untampered dataset
# A good way to tell if rows have been deleted during your analysis (by mistake or not) is to check the increment

mov.index
type(mov.index)
RangeIndex?

Object `RangeIndex` not found.

### Getting Familiar with your Dataset

A starting part of exploratory analysis is to get familiar with the dataset.

1) What are the dimensions of the dataset? 
<br>
2) What kind of columns do you have?
<br>
3) What datatypes are these columns?
<br>
4) Are there lots of missing or Null values?

In [ ]:
# Gettins just column names out of a DataFrame

col_names = list(mov)
print(col_names)

In [ ]:
# Checking datatypes for your columns

mov.dtypes

# Object type is just text

In [27]:
# Pandas has a nifty functionality to  summarise columns automatically for you, to give you a dataset snapshot

mov.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [31]:
# Get a snapshot of a random row by using the iloc function

mov.iloc[124]

color                                                                    Color
director_name                                                   Lana Wachowski
num_critic_for_reviews                                                     245
duration                                                                   129
director_facebook_likes                                                      0
actor_3_facebook_likes                                                     233
actor_2_name                                                       Collin Chou
actor_1_facebook_likes                                                     309
gross                                                               1.3926e+08
genres                                                           Action|Sci-Fi
actor_1_name                                                       Essie Davis
movie_title                                            The Matrix Revolutions
num_voted_users                                                         364948
cast_total_facebook_likes                                                 1062
actor_3_name                                                         Nona Gaye
facenumber_in_poster                                                         0
plot_keywords                                 battle|epic|fight|future|machine
movie_imdb_link              http://www.imdb.com/title/tt0242653/?ref_=fn_t...
num_user_for_reviews                                                      2121
language                                                               English
country                                                              Australia
content_rating                                                               R
budget                                                                 1.5e+08
title_year                                                                2003
actor_2_facebook_likes                                                     269
imdb_score                                                                 6.7
aspect_ratio                                                              2.35
movie_facebook_likes                                                         0
Name: 124, dtype: object

In [32]:
# This is really useful in getting comfortable with your dataset. 
# But another thing we might want to know is...how many unique values are there in a column?
# Example: how many different genres are in the dataset? 
# Answer: Numpy.unique

import numpy as np

# To take only a specific column out, we use the following notation df['column name']

uniqueGenres = np.unique(mov['genres'])
print(len(uniqueGenres))
print(uniqueGenres)

914
['Action' 'Action|Adventure'
 'Action|Adventure|Animation|Comedy|Crime|Family|Fantasy'
 'Action|Adventure|Animation|Comedy|Drama|Family|Fantasy|Thriller'
 'Action|Adventure|Animation|Comedy|Drama|Family|Sci-Fi'
 'Action|Adventure|Animation|Comedy|Family'
 'Action|Adventure|Animation|Comedy|Family|Fantasy'
 'Action|Adventure|Animation|Comedy|Family|Fantasy|Sci-Fi'
 'Action|Adventure|Animation|Comedy|Family|Sci-Fi'
 'Action|Adventure|Animation|Comedy|Fantasy'
 'Action|Adventure|Animation|Comedy|Fantasy|Sci-Fi'
 'Action|Adventure|Animation|Comedy|Sci-Fi'
 'Action|Adventure|Animation|Drama|Fantasy|Sci-Fi'
 'Action|Adventure|Animation|Drama|Mystery|Sci-Fi|Thriller'
 'Action|Adventure|Animation|Family'
 'Action|Adventure|Animation|Family|Fantasy'
 'Action|Adventure|Animation|Family|Fantasy|Sci-Fi'
 'Action|Adventure|Animation|Family|Sci-Fi'
 'Action|Adventure|Animation|Family|Sci-Fi|Thriller'
 'Action|Adventure|Animation|Fantasy'
 'Action|Adventure|Animation|Fantasy|Romance|Sci-Fi'
 'Action|Adventure|Biography|Drama|History'
 'Action|Adventure|Biography|Drama|History|Romance|War'
 'Action|Adventure|Biography|Drama|History|Thriller'
 'Action|Adventure|Comedy' 'Action|Adventure|Comedy|Crime'
 'Action|Adventure|Comedy|Crime|Family|Romance|Thriller'
 'Action|Adventure|Comedy|Crime|Music|Mystery'
 'Action|Adventure|Comedy|Crime|Mystery|Thriller'
 'Action|Adventure|Comedy|Crime|Thriller'
 'Action|Adventure|Comedy|Drama|Music|Sci-Fi'
 'Action|Adventure|Comedy|Drama|Thriller'
 'Action|Adventure|Comedy|Drama|War' 'Action|Adventure|Comedy|Family'
 'Action|Adventure|Comedy|Family|Fantasy'
 'Action|Adventure|Comedy|Family|Fantasy|Mystery|Sci-Fi'
 'Action|Adventure|Comedy|Family|Fantasy|Sci-Fi'
 'Action|Adventure|Comedy|Family|Mystery'
 'Action|Adventure|Comedy|Family|Romance'
 'Action|Adventure|Comedy|Family|Romance|Sci-Fi'
 'Action|Adventure|Comedy|Family|Sci-Fi' 'Action|Adventure|Comedy|Fantasy'
 'Action|Adventure|Comedy|Fantasy|Mystery'
 'Action|Adventure|Comedy|Fantasy|Romance'
 'Action|Adventure|Comedy|Fantasy|Sci-Fi'
 'Action|Adventure|Comedy|Fantasy|Thriller'
 'Action|Adventure|Comedy|Musical' 'Action|Adventure|Comedy|Music|Thriller'
 'Action|Adventure|Comedy|Romance' 'Action|Adventure|Comedy|Romance|Sci-Fi'
 'Action|Adventure|Comedy|Romance|Thriller'
 'Action|Adventure|Comedy|Romance|Thriller|Western'
 'Action|Adventure|Comedy|Sci-Fi' 'Action|Adventure|Comedy|Sci-Fi|Thriller'
 'Action|Adventure|Comedy|Thriller' 'Action|Adventure|Comedy|Western'
 'Action|Adventure|Crime' 'Action|Adventure|Crime|Drama'
 'Action|Adventure|Crime|Drama|Family|Fantasy|Romance|Thriller'
 'Action|Adventure|Crime|Drama|Mystery|Thriller'
 'Action|Adventure|Crime|Drama|Romance'
 'Action|Adventure|Crime|Drama|Sci-Fi|Thriller'
 'Action|Adventure|Crime|Drama|Thriller'
 'Action|Adventure|Crime|Fantasy|Mystery|Thriller'
 'Action|Adventure|Crime|Mystery|Thriller'
 'Action|Adventure|Crime|Thriller' 'Action|Adventure|Drama'
 'Action|Adventure|Drama|Family' 'Action|Adventure|Drama|Fantasy'
 'Action|Adventure|Drama|Fantasy|Sci-Fi'
 'Action|Adventure|Drama|Fantasy|War' 'Action|Adventure|Drama|History'
 'Action|Adventure|Drama|History|Romance'
 'Action|Adventure|Drama|History|Romance|War'
 'Action|Adventure|Drama|History|Thriller|War'
 'Action|Adventure|Drama|History|War'
 'Action|Adventure|Drama|Horror|Sci-Fi' 'Action|Adventure|Drama|Mystery'
 'Action|Adventure|Drama|Romance' 'Action|Adventure|Drama|Romance|Sci-Fi'
 'Action|Adventure|Drama|Romance|Thriller'
 'Action|Adventure|Drama|Romance|War'
 'Action|Adventure|Drama|Romance|Western' 'Action|Adventure|Drama|Sci-Fi'
 'Action|Adventure|Drama|Sci-Fi|Thriller' 'Action|Adventure|Drama|Thriller'
 'Action|Adventure|Drama|Thriller|War'
 'Action|Adventure|Drama|Thriller|Western' 'Action|Adventure|Drama|War'
 'Action|Adventure|Drama|Western' 'Action|Adventure|Family|Fantasy'
 'Action|Adventure|Family|Fantasy|Romance'
 'Action|Adventure|Family|Fantasy|Sci-Fi'
 'Action|Adventure|Family|Fantasy|Sci-Fi|Thriller'
 'Action|Adventure|Family|Fantasy|Thriller'
 'Action|Adventure|Family|Mystery' 'Action|Adventure|Family|Mystery|Sci-Fi'
 'Action|Adventure|Family|Sci-Fi' 'Action|Adventure|Family|Sci-Fi|Thriller'
 'Action|Adventure|Family|Thriller' 'Action|Adventure|Fantasy'
 'Action|Adventure|Fantasy|Horror' 'Action|Adventure|Fantasy|Horror|Sci-Fi'
 'Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller'
 'Action|Adventure|Fantasy|Horror|Thriller'
 'Action|Adventure|Fantasy|Romance' 'Action|Adventure|Fantasy|Sci-Fi'
 'Action|Adventure|Fantasy|Sci-Fi|Thriller'
 'Action|Adventure|Fantasy|Thriller' 'Action|Adventure|Fantasy|War'
 'Action|Adventure|History' 'Action|Adventure|History|Romance'
 'Action|Adventure|History|Western' 'Action|Adventure|Horror|Sci-Fi'
 'Action|Adventure|Horror|Sci-Fi|Thriller'
 'Action|Adventure|Horror|Thriller'
 'Action|Adventure|Mystery|Romance|Thriller'
 'Action|Adventure|Mystery|Sci-Fi'
 'Action|Adventure|Mystery|Sci-Fi|Thriller' 'Action|Adventure|Romance'
 'Action|Adventure|Romance|Sci-Fi'
 'Action|Adventure|Romance|Sci-Fi|Thriller'
 'Action|Adventure|Romance|Thriller' 'Action|Adventure|Romance|War'
 'Action|Adventure|Romance|Western' 'Action|Adventure|Sci-Fi'
 'Action|Adventure|Sci-Fi|Thriller' 'Action|Adventure|Thriller'
 'Action|Adventure|Thriller|War' 'Action|Adventure|Western'
 'Action|Animation|Comedy|Crime|Family' 'Action|Animation|Comedy|Family'
 'Action|Animation|Comedy|Family|Fantasy'
 'Action|Animation|Comedy|Family|Fantasy|Sci-Fi'
 'Action|Animation|Comedy|Family|Sci-Fi' 'Action|Animation|Comedy|Sci-Fi'
 'Action|Animation|Crime|Sci-Fi|Thriller'
 'Action|Animation|Fantasy|Horror|Mystery|Sci-Fi|Thriller'
 'Action|Animation|Sci-Fi' 'Action|Animation|Sci-Fi|Thriller'
 'Action|Biography|Crime|Drama'
 'Action|Biography|Crime|Drama|Family|Fantasy'
 'Action|Biography|Crime|Drama|Thriller'
 'Action|Biography|Documentary|Sport' 'Action|Biography|Drama'
 'Action|Biography|Drama|History'
 'Action|Biography|Drama|History|Romance|War'
 'Action|Biography|Drama|History|Romance|Western'
 'Action|Biography|Drama|History|Thriller|War'
 'Action|Biography|Drama|History|War' 'Action|Biography|Drama|Sport'
 'Action|Biography|Drama|Thriller|War' 'Action|Comedy'
 'Action|Comedy|Crime' 'Action|Comedy|Crime|Drama'
 'Action|Comedy|Crime|Drama|Romance|Thriller'
 'Action|Comedy|Crime|Drama|Thriller' 'Action|Comedy|Crime|Family'
 'Action|Comedy|Crime|Fantasy'
 'Action|Comedy|Crime|Fantasy|Horror|Mystery|Sci-Fi|Thriller'
 'Action|Comedy|Crime|Music' 'Action|Comedy|Crime|Music|Romance|Thriller'
 'Action|Comedy|Crime|Romance' 'Action|Comedy|Crime|Romance|Thriller'
 'Action|Comedy|Crime|Sci-Fi|Thriller' 'Action|Comedy|Crime|Thriller'
 'Action|Comedy|Crime|Western' 'Action|Comedy|Documentary'
 'Action|Comedy|Drama' 'Action|Comedy|Drama|Family|Thriller'
 'Action|Comedy|Drama|Music' 'Action|Comedy|Drama|Sci-Fi'
 'Action|Comedy|Drama|Thriller' 'Action|Comedy|Drama|War'
 'Action|Comedy|Drama|Western' 'Action|Comedy|Family'
 'Action|Comedy|Family|Fantasy' 'Action|Comedy|Fantasy'
 'Action|Comedy|Fantasy|Horror' 'Action|Comedy|Fantasy|Romance'
 'Action|Comedy|Fantasy|Sci-Fi' 'Action|Comedy|Horror'
 'Action|Comedy|Horror|Sci-Fi' 'Action|Comedy|Horror|Thriller'
 'Action|Comedy|Music' 'Action|Comedy|Mystery'
 'Action|Comedy|Mystery|Romance' 'Action|Comedy|Romance'
 'Action|Comedy|Romance|Thriller' 'Action|Comedy|Sci-Fi'
 'Action|Comedy|Sci-Fi|Sport' 'Action|Comedy|Sci-Fi|Thriller'
 'Action|Comedy|Sci-Fi|Western' 'Action|Comedy|Sport'
 'Action|Comedy|Thriller' 'Action|Comedy|War' 'Action|Crime'
 'Action|Crime|Drama' 'Action|Crime|Drama|History|Western'
 'Action|Crime|Drama|Mystery' 'Action|Crime|Drama|Mystery|Sci-Fi|Thriller'
 'Action|Crime|Drama|Mystery|Thriller'
 'Action|Crime|Drama|Romance|Thriller' 'Action|Crime|Drama|Sci-Fi|Thriller'
 'Action|Crime|Drama|Sport' 'Action|Crime|Drama|Thriller'
 'Action|Crime|Drama|Thriller|War' 'Action|Crime|Drama|Thriller|Western'
 'Action|Crime|Drama|Western' 'Action|Crime|Fantasy|Romance|Thriller'
 'Action|Crime|Fantasy|Thriller' 'Action|Crime|Horror|Sci-Fi|Thriller'
 'Action|Crime|Horror|Thriller' 'Action|Crime|Mystery|Romance|Thriller'
 'Action|Crime|Mystery|Sci-Fi|Thriller' 'Action|Crime|Mystery|Thriller'
 'Action|Crime|Romance|Thriller' 'Action|Crime|Sci-Fi'
 'Action|Crime|Sci-Fi|Thriller' 'Action|Crime|Sport|Thriller'
 'Action|Crime|Thriller' 'Action|Drama' 'Action|Drama|Family|Sport'
 'Action|Drama|Fantasy' 'Action|Drama|Fantasy|Horror|Thriller'
 'Action|Drama|Fantasy|Horror|War'
 'Action|Drama|Fantasy|Mystery|Sci-Fi|Thriller'
 'Action|Drama|Fantasy|Mystery|Thriller' 'Action|Drama|Fantasy|Romance'
 'Action|Drama|Fantasy|Sci-Fi' 'Action|Drama|Fantasy|Thriller|Western'
 'Action|Drama|Fantasy|War' 'Action|Drama|History'
 'Action|Drama|History|Romance|War'
 'Action|Drama|History|Romance|War|Western' 'Action|Drama|History|Thriller'
 'Action|Drama|History|Thriller|War' 'Action|Drama|History|War'
 'Action|Drama|Horror|Thriller' 'Action|Drama|Music|Romance'
 'Action|Drama|Mystery|Sci-Fi' 'Action|Drama|Mystery|Thriller'
 'Action|Drama|Mystery|Thriller|War' 'Action|Drama|Romance'
 'Action|Drama|Romance|Sci-Fi|Thriller' 'Action|Drama|Romance|Sport'
 'Action|Drama|Romance|Thriller' 'Action|Drama|Romance|War'
 'Action|Drama|Sci-Fi' 'Action|Drama|Sci-Fi|Sport'
 'Action|Drama|Sci-Fi|Thriller' 'Action|Drama|Sport'
 'Action|Drama|Sport|Thriller' 'Action|Drama|Thriller'
 'Action|Drama|Thriller|War' 'Action|Drama|War' 'Action|Drama|Western'
 'Action|Family|Fantasy|Musical' 'Action|Family|Sport' 'Action|Fantasy'
 'Action|Fantasy|Horror' 'Action|Fantasy|Horror|Mystery'
 'Action|Fantasy|Horror|Mystery|Thriller' 'Action|Fantasy|Horror|Sci-Fi'
 'Action|Fantasy|Horror|Sci-Fi|Thriller' 'Action|Fantasy|Horror|Thriller'
 'Action|Fantasy|Romance|Sci-Fi' 'Action|Fantasy|Sci-Fi|Thriller'
 'Action|Fantasy|Thriller' 'Action|Fantasy|Western' 'Action|Horror'
 'Action|Horror|Mystery|Sci-Fi|Thriller' 'Action|Horror|Mystery|Thriller'
 'Action|Horror|Romance' 'Action|Horror|Romance|Sci-Fi|Thriller'
 'Action|Horror|Sci-Fi' 'Action|Horror|Sci-Fi|Thriller'
 'Action|Horror|Thriller' 'Action|Mystery|Sci-Fi|Thriller'
 'Action|Mystery|Thriller' 'Action|Romance|Sport' 'Action|Romance|Thriller'
 'Action|Sci-Fi' 'Action|Sci-Fi|Sport' 'Action|Sci-Fi|Thriller'
 'Action|Sci-Fi|War' 'Action|Sport' 'Action|Thriller'
 'Action|Thriller|Western' 'Action|War' 'Action|Western' 'Adventure'
 'Adventure|Animation'
 'Adventure|Animation|Biography|Drama|Family|Fantasy|Musical'
 'Adventure|Animation|Comedy' 'Adventure|Animation|Comedy|Crime'
 'Adventure|Animation|Comedy|Crime|Family'
 'Adventure|Animation|Comedy|Drama|Family'
 'Adventure|Animation|Comedy|Drama|Family|Fantasy'
 'Adventure|Animation|Comedy|Drama|Family|Fantasy|Musical'
 'Adventure|Animation|Comedy|Drama|Family|Fantasy|Romance'
 'Adventure|Animation|Comedy|Drama|Family|Fantasy|Sci-Fi'
 'Adventure|Animation|Comedy|Drama|Family|Musical'
 'Adventure|Animation|Comedy|Family'
 'Adventure|Animation|Comedy|Family|Fantasy'
 'Adventure|Animation|Comedy|Family|Fantasy|Music'
 'Adventure|Animation|Comedy|Family|Fantasy|Musical'
 'Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance'
 'Adventure|Animation|Comedy|Family|Fantasy|Romance'
 'Adventure|Animation|Comedy|Family|Fantasy|Sci-Fi'
 'Adventure|Animation|Comedy|Family|Fantasy|Sci-Fi|Sport'
 'Adventure|Animation|Comedy|Family|Musical'
 'Adventure|Animation|Comedy|Family|Romance'
 'Adventure|Animation|Comedy|Family|Sci-Fi'
 'Adventure|Animation|Comedy|Family|Sport'
 'Adventure|Animation|Comedy|Family|War'
 'Adventure|Animation|Comedy|Family|Western'
 'Adventure|Animation|Comedy|Fantasy'
 'Adventure|Animation|Comedy|Fantasy|Music|Romance'
 'Adventure|Animation|Comedy|Fantasy|Romance'
 'Adventure|Animation|Drama|Family|Fantasy'
 'Adventure|Animation|Drama|Family|Fantasy|Musical|Mystery|Romance'
 'Adventure|Animation|Drama|Family|History|Musical|Romance'
 'Adventure|Animation|Drama|Family|Musical' 'Adventure|Animation|Family'
 'Adventure|Animation|Family|Fantasy'
 'Adventure|Animation|Family|Fantasy|Musical'
 'Adventure|Animation|Family|Fantasy|Musical|War'
 'Adventure|Animation|Family|Musical' 'Adventure|Animation|Family|Sci-Fi'
 'Adventure|Animation|Family|Sport' 'Adventure|Animation|Family|Thriller'
 'Adventure|Animation|Family|Western' 'Adventure|Animation|Fantasy'
 'Adventure|Animation|Fantasy|Horror|Sci-Fi' 'Adventure|Animation|Sci-Fi'
 'Adventure|Biography' 'Adventure|Biography|Crime|Drama|Western'
 'Adventure|Biography|Documentary|Drama' 'Adventure|Biography|Drama'
 'Adventure|Biography|Drama|History'
 'Adventure|Biography|Drama|History|Sport|Thriller'
 'Adventure|Biography|Drama|History|War'
 'Adventure|Biography|Drama|Horror|Thriller'
 'Adventure|Biography|Drama|Romance' 'Adventure|Biography|Drama|Thriller'
 'Adventure|Biography|Drama|War' 'Adventure|Comedy'
 'Adventure|Comedy|Crime' 'Adventure|Comedy|Crime|Drama'
 'Adventure|Comedy|Crime|Drama|Family'
 'Adventure|Comedy|Crime|Family|Musical'
 'Adventure|Comedy|Crime|Family|Mystery' 'Adventure|Comedy|Crime|Music'
 'Adventure|Comedy|Crime|Romance' 'Adventure|Comedy|Drama'
 'Adventure|Comedy|Drama|Family' 'Adventure|Comedy|Drama|Family|Fantasy'
 'Adventure|Comedy|Drama|Family|Mystery'
 'Adventure|Comedy|Drama|Family|Romance'
 'Adventure|Comedy|Drama|Family|Sport' 'Adventure|Comedy|Drama|Fantasy'
 'Adventure|Comedy|Drama|Fantasy|Musical'
 'Adventure|Comedy|Drama|Fantasy|Romance' 'Adventure|Comedy|Drama|Music'
 'Adventure|Comedy|Drama|Romance' 'Adventure|Comedy|Drama|Romance|Sci-Fi'
 'Adventure|Comedy|Drama|Romance|Thriller|War' 'Adventure|Comedy|Family'
 'Adventure|Comedy|Family|Fantasy' 'Adventure|Comedy|Family|Fantasy|Horror'
 'Adventure|Comedy|Family|Fantasy|Horror|Mystery'
 'Adventure|Comedy|Family|Fantasy|Musical'
 'Adventure|Comedy|Family|Fantasy|Music|Sci-Fi'
 'Adventure|Comedy|Family|Fantasy|Romance|Sport'
 'Adventure|Comedy|Family|Fantasy|Sci-Fi' 'Adventure|Comedy|Family|Musical'
 'Adventure|Comedy|Family|Music|Romance'
 'Adventure|Comedy|Family|Mystery|Sci-Fi' 'Adventure|Comedy|Family|Romance'
 'Adventure|Comedy|Family|Romance|Sci-Fi' 'Adventure|Comedy|Family|Sci-Fi'
 'Adventure|Comedy|Family|Sport' 'Adventure|Comedy|Fantasy'
 'Adventure|Comedy|Fantasy|Music|Sci-Fi' 'Adventure|Comedy|Fantasy|Sci-Fi'
 'Adventure|Comedy|History' 'Adventure|Comedy|History|Romance'
 'Adventure|Comedy|Horror' 'Adventure|Comedy|Horror|Sci-Fi'
 'Adventure|Comedy|Musical|Romance' 'Adventure|Comedy|Music|Sci-Fi'
 'Adventure|Comedy|Mystery' 'Adventure|Comedy|Romance'
 'Adventure|Comedy|Romance|Sci-Fi' 'Adventure|Comedy|Sci-Fi'
 'Adventure|Comedy|Sci-Fi|Western' 'Adventure|Comedy|Sport'
 'Adventure|Comedy|Western' 'Adventure|Crime|Drama'
 'Adventure|Crime|Drama|Mystery|Thriller'
 'Adventure|Crime|Drama|Mystery|Western' 'Adventure|Crime|Drama|Romance'
 'Adventure|Crime|Drama|Thriller' 'Adventure|Crime|Drama|Western'
 'Adventure|Crime|Mystery|Sci-Fi|Thriller' 'Adventure|Crime|Thriller'
 'Adventure|Documentary' 'Adventure|Documentary|Drama|Sport'
 'Adventure|Documentary|Short' 'Adventure|Drama' 'Adventure|Drama|Family'
 'Adventure|Drama|Family|Fantasy' 'Adventure|Drama|Family|Fantasy|Sci-Fi'
 'Adventure|Drama|Family|Mystery' 'Adventure|Drama|Family|Romance|Western'
 'Adventure|Drama|Fantasy' 'Adventure|Drama|Fantasy|Mystery'
 'Adventure|Drama|Fantasy|Mystery|Thriller'
 'Adventure|Drama|Fantasy|Romance'
 'Adventure|Drama|Fantasy|Thriller|Western' 'Adventure|Drama|History'
 'Adventure|Drama|History|Romance'
 'Adventure|Drama|History|Romance|Thriller|War'
 'Adventure|Drama|History|Romance|War'
 'Adventure|Drama|History|Thriller|War' 'Adventure|Drama|History|War'
 'Adventure|Drama|Horror|Mystery|Thriller'
 'Adventure|Drama|Horror|Thriller' 'Adventure|Drama|Mystery'
 'Adventure|Drama|Mystery|Sci-Fi|Thriller' 'Adventure|Drama|Romance'
 'Adventure|Drama|Romance|War' 'Adventure|Drama|Romance|Western'
 'Adventure|Drama|Sci-Fi' 'Adventure|Drama|Sci-Fi|Thriller'
 'Adventure|Drama|Thriller' 'Adventure|Drama|Thriller|War'
 'Adventure|Drama|Thriller|Western' 'Adventure|Drama|War'
 'Adventure|Drama|Western' 'Adventure|Family' 'Adventure|Family|Fantasy'
 'Adventure|Family|Fantasy|Horror|Mystery'
 'Adventure|Family|Fantasy|Musical'
 'Adventure|Family|Fantasy|Music|Musical'
 'Adventure|Family|Fantasy|Mystery' 'Adventure|Family|Fantasy|Romance'
 'Adventure|Family|Fantasy|Sci-Fi' 'Adventure|Family|Romance'
 'Adventure|Family|Sci-Fi' 'Adventure|Family|Sport' 'Adventure|Fantasy'
 'Adventure|Fantasy|Horror|Mystery|Thriller' 'Adventure|Fantasy|Mystery'
 'Adventure|Fantasy|Mystery|Thriller' 'Adventure|Fantasy|Thriller'
 'Adventure|Horror' 'Adventure|Horror|Mystery' 'Adventure|Horror|Sci-Fi'
 'Adventure|Horror|Thriller' 'Adventure|Mystery|Sci-Fi'
 'Adventure|Mystery|Thriller' 'Adventure|Sci-Fi'
 'Adventure|Sci-Fi|Thriller' 'Adventure|War|Western' 'Animation'
 'Animation|Biography|Documentary|Drama|History|War'
 'Animation|Biography|Drama|War' 'Animation|Comedy'
 'Animation|Comedy|Crime|Drama|Family' 'Animation|Comedy|Drama'
 'Animation|Comedy|Drama|Family|Musical'
 'Animation|Comedy|Drama|Fantasy|Sci-Fi' 'Animation|Comedy|Drama|Romance'
 'Animation|Comedy|Family' 'Animation|Comedy|Family|Fantasy'
 'Animation|Comedy|Family|Fantasy|Music'
 'Animation|Comedy|Family|Fantasy|Musical'
 'Animation|Comedy|Family|Fantasy|Musical|Romance'
 'Animation|Comedy|Family|Fantasy|Mystery'
 'Animation|Comedy|Family|Fantasy|Sci-Fi'
 'Animation|Comedy|Family|Horror|Sci-Fi' 'Animation|Comedy|Family|Musical'
 'Animation|Comedy|Family|Music|Romance'
 'Animation|Comedy|Family|Music|Western'
 'Animation|Comedy|Family|Mystery|Sci-Fi' 'Animation|Comedy|Family|Romance'
 'Animation|Comedy|Family|Sci-Fi' 'Animation|Comedy|Family|Sport'
 'Animation|Comedy|Fantasy' 'Animation|Comedy|Fantasy|Musical'
 'Animation|Drama' 'Animation|Drama|Family'
 'Animation|Drama|Family|Fantasy'
 'Animation|Drama|Family|Fantasy|Musical|Romance'
 'Animation|Drama|Family|Musical|Romance'
 'Animation|Drama|Mystery|Sci-Fi|Thriller' 'Animation|Family'
 'Animation|Family|Fantasy' 'Animation|Family|Fantasy|Music'
 'Animation|Family|Fantasy|Musical'
 'Animation|Family|Fantasy|Musical|Romance'
 'Animation|Family|Fantasy|Mystery' 'Biography'
 'Biography|Comedy|Crime|Drama' 'Biography|Comedy|Crime|Drama|Romance'
 'Biography|Comedy|Crime|Drama|Romance|Thriller'
 'Biography|Comedy|Documentary' 'Biography|Comedy|Drama'
 'Biography|Comedy|Drama|Family|Romance'
 'Biography|Comedy|Drama|Family|Sport' 'Biography|Comedy|Drama|History'
 'Biography|Comedy|Drama|History|Music'
 'Biography|Comedy|Drama|History|Music|Musical'
 'Biography|Comedy|Drama|Music' 'Biography|Comedy|Drama|Music|Romance'
 'Biography|Comedy|Drama|Romance' 'Biography|Comedy|Drama|Sport'
 'Biography|Comedy|Drama|War' 'Biography|Comedy|Musical'
 'Biography|Comedy|Musical|Romance|Western' 'Biography|Comedy|Romance'
 'Biography|Crime|Documentary|History'
 'Biography|Crime|Documentary|History|Thriller' 'Biography|Crime|Drama'
 'Biography|Crime|Drama|History' 'Biography|Crime|Drama|History|Music'
 'Biography|Crime|Drama|History|Romance'
 'Biography|Crime|Drama|History|Thriller'
 'Biography|Crime|Drama|History|Western' 'Biography|Crime|Drama|Music'
 'Biography|Crime|Drama|Mystery|Thriller' 'Biography|Crime|Drama|Romance'
 'Biography|Crime|Drama|Romance|Thriller' 'Biography|Crime|Drama|Thriller'
 'Biography|Crime|Drama|War' 'Biography|Crime|Drama|Western'
 'Biography|Documentary' 'Biography|Documentary|Drama'
 'Biography|Documentary|History' 'Biography|Documentary|Music'
 'Biography|Documentary|Sport' 'Biography|Drama' 'Biography|Drama|Family'
 'Biography|Drama|Family|History|Sport'
 'Biography|Drama|Family|Musical|Romance' 'Biography|Drama|Family|Sport'
 'Biography|Drama|Fantasy|History' 'Biography|Drama|History'
 'Biography|Drama|History|Music' 'Biography|Drama|History|Musical'
 'Biography|Drama|History|Romance' 'Biography|Drama|History|Sport'
 'Biography|Drama|History|Thriller' 'Biography|Drama|History|Thriller|War'
 'Biography|Drama|History|War' 'Biography|Drama|Music'
 'Biography|Drama|Music|Musical' 'Biography|Drama|Music|Romance'

## In-Class Activity #1: 

Find the number of distinct Directors & Actors (actor_1_name) in the above datasaet.

In [49]:
# Your code below
mov = mov.dropna(how='any')
uniqueDirectorActor = np.unique(mov['actor_1_name'])
print(len(uniqueDirectorActor))

print(len(list(np.unique(mov['actor_1_name']))))
print(len(list((mov.actor_1_name.unique()))))

mov['movie_title'].head()

1428
1428
1428

0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
3                       The Dark Knight Rises
5                                 John Carter
Name: movie_title, dtype: object

### Sorting by columns

Let's say  you want to sort this by IMDB Score. Pandas makes this really easy to do

In [53]:
mov.sort_values(by='imdb_score', ascending = False)['movie_title']

1937                            The Shawshank Redemption
3466                                       The Godfather
66                                       The Dark Knight
2837                              The Godfather: Part II
339        The Lord of the Rings: The Return of the King
4498                      The Good, the Bad and the Ugly
1874                                    Schindler's List
3355                                        Pulp Fiction
836                                         Forrest Gump
270     The Lord of the Rings: The Fellowship of the R...
97                                             Inception
2051      Star Wars: Episode V - The Empire Strikes Back
683                                           Fight Club
4029                                         City of God
340                The Lord of the Rings: The Two Towers
3024                  Star Wars: Episode IV - A New Hope
3867                     One Flew Over the Cuckoo's Nest
1903                                          Goodfellas
654                                           The Matrix
4747                                       Seven Samurai
1600                                               Se7en
4427                                        Modern Times
3175                                  American History X
96                                          Interstellar
2158                            The Silence of the Lambs
2373                                       Spirited Away
648                                  Saving Private Ryan
3592                                  The Usual Suspects
4028                                            Whiplash
4921                                  Children of Heaven
                              ...
2568                                         Left Behind
2399                                         Left Behind
2522                                   Shanghai Surprise
620                                           Rollerball
4081                                          Phat Girlz
1998                                          BloodRayne
3600                                      Daddy Day Camp
2328                                             Marci X
2066                                   Jaws: The Revenge
2301                                              Doogal
2696                            Barney's Great Adventure
2581                                               Steel
2182                                          Date Movie
1654                                   Meet the Spartans
1702                               Dragonball: Evolution
3923                                     The Real Cancun
2852                                       Baby Geniuses
899                                                Gigli
495                                    Battlefield Earth
3525                               Chairman of the Board
2313                                   Alone in the Dark
2192                                          Epic Movie
319                                      Son of the Mask
3664                                           Crossover
2983                                From Justin to Kelly
3340                                             Glitter
3505                                   Who's Your Caddy?
2268                                      Disaster Movie
2295                        Superbabies: Baby Geniuses 2
2834                      Justin Bieber: Never Say Never
Name: movie_title, Length: 3756, dtype: object

In [41]:
mov.iloc[1937]

color                                                                    Color
director_name                                                    Paul McGuigan
num_critic_for_reviews                                                     159
duration                                                                   110
director_facebook_likes                                                    118
actor_3_facebook_likes                                                     287
actor_2_name                                                   Spencer Wilding
actor_1_facebook_likes                                                   11000
gross                                                              5.77352e+06
genres                                            Drama|Horror|Sci-Fi|Thriller
actor_1_name                                                  Daniel Radcliffe
movie_title                                               Victor Frankenstein
num_voted_users                                                          28621
cast_total_facebook_likes                                                12876
actor_3_name                                                       Daniel Mays
facenumber_in_poster                                                         2
plot_keywords                assistant|experiment|frankenstein|medical stud...
movie_imdb_link              http://www.imdb.com/title/tt1976009/?ref_=fn_t...
num_user_for_reviews                                                        91
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                                   4e+07
title_year                                                                2015
actor_2_facebook_likes                                                    1000
imdb_score                                                                   6
aspect_ratio                                                              2.35
movie_facebook_likes                                                     11000
Name: 2099, dtype: object

### In-Class Activity #2: Sort by budget, ascending

In [81]:
# Your code below
mov.sort_values(by='budget')[['director_name','actor_1_name']]

            director_name             actor_1_name
4799    Jonathan Caouette               Greg Ayres
5042             Jon Gunn              John August
5026      Olivier Assayas            Maggie Cheung
5035     Robert Rodriguez          Carlos Gallardo
5033        Shane Carruth            Shane Carruth
5025          John Waters                   Divine
5027         Jafar Panahi  Fereshteh Sadre Orafaiy
4311      Hunter Richards            Jason Statham
4793            Oren Peli              Micah Sloat
5015    Richard Linklater           Tommy Pallotta
5011          Neil LaBute            Stacy Edwards
4984         Edward Burns             Shari Albert
4998         Kevin Jordan           Derick Martini
4962        Larry Blamire            Fay Masterson
4997   David Gordon Green           Paul Schneider
4735        Siddiq Barmak         Marina Golbahari
4707        Daniel Myrick          Heather Donahue
4978        Brandon Trost      Clifton Collins Jr.
4975      Myles Berkowitz              Tia Carrere
4973     Darren Aronofsky            Mark Margolis
4977      Morgan Spurlock          Chemeeka Walker
4987          Lena Dunham              Lena Dunham
4979         Joe Swanberg            Anna Kendrick
4936          Tobe Hooper            Gunnar Hansen
3278          Tobe Hooper            Gunnar Hansen
4926          Mike Cahill        Robin Lord Taylor
4959      Robert Townsend          Robert Townsend
4956         Travis Cluff            Pfeifer Brown
4955        Alex Kendrick            Alex Kendrick
4922         Andrew Haigh               Tom Cullen
...                   ...                      ...
19       Barry Sonnenfeld               Will Smith
23          Peter Jackson             Aidan Turner
21              Marc Webb               Emma Stone
0           James Cameron              CCH Pounder
2              Sam Mendes          Christoph Waltz
8             Joss Whedon          Chris Hemsworth
10            Zack Snyder             Henry Cavill
27          Anthony Russo        Robert Downey Jr.
20          Peter Jackson             Aidan Turner
18           Rob Marshall              Johnny Depp
9             David Yates             Alan Rickman
3       Christopher Nolan                Tom Hardy
6               Sam Raimi             J.K. Simmons
3461            Sam Raimi             J.K. Simmons
7            Nathan Greno             Brad Garrett
5          Andrew Stanton             Daryl Sabara
2740             Tony Jaa         Nirut Sirichanya
1          Gore Verbinski              Johnny Depp
1016           Luc Besson              Paul Brooke
3311  Chatrichalerm Yukol     Sarunyu Wongkrachang
1338             John Woo        Takeshi Kaneshiro
3075          Karan Johar           Shah Rukh Khan
3851         Carlos Saura              Mía Maestro
4542        Takao Okawara              Hiroshi Abe
3423      Katsuhiro Ôtomo             Mitsuo Iwata
2334      Katsuhiro Ôtomo         William Hootkins
2323       Hayao Miyazaki            Minnie Driver
3005         Lajos Koltai             Marcell Nagy
3859       Chan-wook Park             Min-sik Choi
2988         Joon-ho Bong                Doona Bae

[3756 rows x 2 columns]

### Advanced Manipulation Techniques

Now let's start doing some fun stuff, that we've become familiar with the basic functions. We will continue using the IMDB dataset

In [ ]:
# Filtering by column values:
# Let's say you only wanted to see only Steven Spielberg films
# How would you do that?

spielberg = mov[mov.director_name == 'Steven Spielberg']

# Another alternate way to do this would be:
# spielberg = mov[mov['director_name'] == 'Steven Spielberg']

In [ ]:
spielberg.head()

In [ ]:
# Let's say you want to convert the color column to ordinal types (1s & 0s)
# Why? Maybe you want to use it in your analysis somehow (example for later, Logistic Regression)
# Before doing that, let's make sure there are only those two unique values in the column

colorUq = np.unique(mov['color'])

In [69]:
# Well well well... if you google the error, you'll find that the reason seems to be because of null values
# Before we change the underlying data, let's first make a copy of the original dataset
mov2 = mov.copy()

# Filling in Nulls values:
# Let's remove the null values only from the color row

mov2 = mov2.dropna(how='any')

# colorUq = np.unique(mov2['color'])
mov2.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000

In [70]:
colorUq = np.unique(mov2['color'])
print(len(colorUq)) # There you go, now we only have two values obviously B/W and Color.
print(colorUq)

2
[' Black and White' 'Color']

In [71]:
# We can't really use this still though for most cases. What if we wanted to change it to ordinal data type?
# i.e. Color =1 and B/W = 0 

colorDict = {'Color':1,' Black and White':0}
mov2['color'] = mov2['color'].map(colorDict) # the map function maps the dictionary to the entire column
mov2.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,1,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,1,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,1,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,1,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000

In [72]:
print(np.unique(mov2['color'])) # All working now

[0 1]

In [74]:
map?

In [78]:
# A note on map: it works in the following structure for lists/dictionaries: map(func,datastore)

def square(x):
    return x**2

y = [1,2,3]
z = map(square,y)
print(type(z))
print(list(z))

<class 'map'>
[1, 4, 9]

In [ ]:
# Lambda functions are really really useful for numerous reasons.
# They are used when you only want to do something once, and don't want to make a predefined function for it
# In Pandas, they are used to do something to every row for a particular column

# For example, let's say you wanted to get the duration in seconds and not minutes for the movie dataset
# You can use the lambda function to iterate through the entire datatset and apply that transformation using the map functionality
# Let's see how to use it:

mov2['duration'] = mov2['duration'].map(lambda x: x * 60)
mov2.head()

In [ ]:
# What if you wanted to keep the original column untouched? 
# Let's convert back to minutes now
# We can create a new column like this and apply the inverse function

mov2['duration_mins'] = mov2['duration']/60
mov2.head()

### Calculating Metrics

We can do some more exploration of the dataset yet. 
<br>
What if we wanted to find max/min/mean etc of columns? 
<br>
How can we group by colunmns?

In [ ]:
# Calculating maximums and minimums

mov2['budget'].max()

In [79]:
# Wait, this sounds really wrong. 
# 12 billion USD budget? Let's investigate more
# We can use the iloc function, and use filtering to just store the row by the maximum budget

row = mov2[mov2['budget']==mov2['budget'].max()]
row.iloc[0]

color                                                                        1
director_name                                                     Joon-ho Bong
num_critic_for_reviews                                                     363
duration                                                                   110
director_facebook_likes                                                    584
actor_3_facebook_likes                                                      74
actor_2_name                                                      Kang-ho Song
actor_1_facebook_likes                                                     629
gross                                                              2.20141e+06
genres                                              Comedy|Drama|Horror|Sci-Fi
actor_1_name                                                         Doona Bae
movie_title                                                          The Host
num_voted_users                                                          68883
cast_total_facebook_likes                                                 1173
actor_3_name                                                        Ah-sung Ko
facenumber_in_poster                                                         0
plot_keywords                           daughter|han river|monster|river|seoul
movie_imdb_link              http://www.imdb.com/title/tt0468492/?ref_=fn_t...
num_user_for_reviews                                                       279
language                                                                Korean
country                                                            South Korea
content_rating                                                               R
budget                                                             1.22155e+10
title_year                                                                2006
actor_2_facebook_likes                                                     398
imdb_score                                                                   7
aspect_ratio                                                              1.85
movie_facebook_likes                                                      7000
Name: 2988, dtype: object

In [ ]:
# Anyways, let's move on

mov2['budget'].min()

In [ ]:
mov2[mov2['budget']==mov2['budget'].min()].iloc[0]

In [ ]:
# Calculating the mean for budget
mov2['budget'].mean()

In [86]:
# Lastly, let's see if we can use Pandas to get the average budget and gross by actor
roi = mov2[['director_name','actor_1_name','gross','budget']]
roi = roi.groupby(['director_name','actor_1_name']).mean()

roi.sort_values(by='gross')

roi = roi.reset_index()   # must do this before we sort by director name
roi.sort_values(by='director_name')

,director_name,actor_1_name,gross,budget
0,Aaron Schneider,Bill Murray,9176553.0,7500000.0
1,Aaron Seltzer,Alyson Hannigan,48546578.0,20000000.0
2,Abel Ferrara,Isabella Rossellini,1227324.0,12500000.0
3,Adam Goldberg,Judy Greer,2580.0,1650000.0
4,Adam Marcus,Kane Hodder,15935068.0,2500000.0
5,Adam McKay,Darcy Donavan,84136909.0,26000000.0
6,Adam McKay,Dwayne Johnson,119219978.0,100000000.0
7,Adam McKay,Harrison Ford,2175312.0,50000000.0
8,Adam McKay,Ryan Gosling,70235322.0,28000000.0
9,Adam McKay,Will Ferrell,124341085.0,69000000.0
10,Adam Rapp,Zooey Deschanel,101228.0,3500000.0
11,Adam Rifkin,Natasha Lyonne,4193025.0,15000000.0
19,Adam Shankman,Vin Diesel,113006880.0,56000000.0
18,Adam Shankman,Taylor Lautner,82569532.0,60000000.0
17,Adam Shankman,Matthew McConaughey,60400856.0,35000000.0
16,Adam Shankman,Lauren German,41227069.0,11000000.0
12,Adam Shankman,Adam Sandler,109993847.0,80000000.0
14,Adam Shankman,James Martin Kelly,38509342.0,75000000.0
13,Adam Shankman,Angus T. Jones,132541238.0,33000000.0
15,Adam Shankman,Jerry Stiller,118823091.0,75000000.0
20,Adrian Lyne,David Margulies,6734844.0,17000000.0
21,Adrian Lyne,Fred Gwynne,156645693.0,14000000.0
22,Adrian Lyne,Michael Nouri,94900000.0,4000000.0
23,Adrian Lyne,Olivier Martinez,52752475.0,50000000.0
24,Adrienne Shelly,Lew Temple,19067631.0,2000000.0
25,Agnieszka Holland,Phyllida Law,352786.0,11000000.0
26,Agnieszka Wojtowicz-Vosloo,Liam Neeson,108229.0,4500000.0
27,Aki Kaurismäki,Jean-Pierre Léaud,611709.0,3850000.0
28,Akira Kurosawa,Takashi Shimura,269061.0,2000000.0
29,Akiva Goldsman,Matt Bomer,22451.0,60000000.0
...,...,...,...,...
3386,Woody Allen,Mike Starr,14792779.0,16000000.0
3388,Woody Allen,Ornella Muti,16684352.0,17000000.0
3384,Woody Allen,Larry David,5306447.0,15000000.0
3383,Woody Allen,Kurt Fuller,56816662.0,17000000.0
3382,Woody Allen,Jim Broadbent,13383737.0,20000000.0
3381,Woody Allen,Anthony Hopkins,3247816.0,22000000.0
3385,Woody Allen,Melanie Griffith,5032496.0,12000000.0
3392,Wych Kaosayananda,Talisa Soto,14294842.0,70000000.0
3393,Xavier Beauvois,Lambert Wilson,3950029.0,4000000.0
3394,Xavier Gens,Henry Ian Cusick,39687528.0,24000000.0
3395,Xavier Gens,Michael Biehn,22000.0,3000000.0
3396,Yarrow Cheney,Steve Coogan,323505540.0,75000000.0
3397,Yash Chopra,Shah Rukh Khan,3047539.0,7217600.0
3401,Yimou Zhang,Takeshi Kaneshiro,11041228.0,100000000.0
3400,Yimou Zhang,Li Gong,6565495.0,45000000.0
3398,Yimou Zhang,Christian Bale,9213.0,94000000.0
3399,Yimou Zhang,Jet Li,84961.0,31000000.0
3402,Zach Braff,Armando Riesco,26781723.0,2500000.0
3403,Zach Braff,Jim Parsons,3588432.0,6000000.0
3404,Zach Cregger,Hugh M. Hefner,4542775.0,6000000.0
3405,Zack Snyder,Abbie Cornish,55673333.0,80000000.0
3406,Zack Snyder,Gerard Butler,210592590.0,65000000.0
3407,Zack Snyder,Henry Cavill,310635313.5,237500000.0
3408,Zack Snyder,Jon Hamm,36381716.0,82000000.0
3409,Zack Snyder,Matt Frewer,107503316.0,130000000.0
3410,Zack Snyder,Ty Burrell,58885635.0,26000000.0
3411,Zak Penn,Zak Penn,36830.0,1400000.0
3412,Zal Batmanglij,Alexander Skarsgård,2268296.0,6500000.0
3413,Álex de la Iglesia,Jim Carter,3607.0,10000000.0
3414,Émile Gaudreault,Paul Sorvino,6239558.0,5000000.0

In [ ]:
roi.sort_values(by='gross',ascending = False)

## Taking things out of a DataFrame

Now we have covered some basic data exploration, it's time to see how we can export data from a Pandas DataFrame.

### Column --> List

Let's say you just want to take a column out to a list

In [ ]:
directors = mov2['director_name'].tolist()

In [ ]:
print(director)

In [87]:
# 2nd more customised
# Say you only wanted imdb scores of only James Cameron's films, with the film names

cameron = []

cameron.append(mov2.loc[mov2['director_name'] == 'James Cameron','movie_title'].tolist())
cameron.append(mov2.loc[mov2['director_name']== 'James Cameron','imdb_score'].tolist())

print(cameron)

[['Avatar\xa0', 'Titanic\xa0', 'Terminator 2: Judgment Day\xa0', 'True Lies\xa0', 'The Abyss\xa0', 'Aliens\xa0', 'The Terminator\xa0'], [7.9, 7.7, 8.5, 7.2, 7.6, 8.4, 8.1]]

### DataFrame to CSV

This is also a super useful function. Let's say you imported a data set in python, cleaned it and did some blending, slicing and manipulation. Now you want to take it back out. Pandas has built-in functions capable of doing that.

**General Syntax Below:**

df.to_csv("{your file path here}", sep = "{what seperator you want, e.g. comma}", index = {True or False: if you want to keep the index})

In [ ]:
# Let's try it:
mov2.to_csv('movies.csv' , sep=',' , index = False)

## In-Class Activity #3

What genre combinations makes the most money? See if you can group by genre on gross and sort by descending to find out what the top 3 grossing genre combinations are.

In [98]:
# Reading a new & fresh dataset
mov = pd.read_csv('movie_metadata.csv')

# YOUR CODE BELOW
genreGross = mov[['genres','gross']]
genreGross = genreGross.groupby(['genres']).sum()
genreGross = genreGross.sort_values(by='gross', ascending=False)

genreGross.head(3)

                                gross
genres
Action|Adventure|Sci-Fi  9.290409e+09
Comedy                   6.734155e+09
Comedy|Romance           6.371779e+09

## In-Class Activity #4

Let's dive in deeper now. Are the 2nd actors (actor_2_name) who were part of the top 10 highest grossing movies also a part of the top 10 2nd actors with the most facebook likes?

In [107]:
mov = pd.read_csv('movie_metadata.csv')

# Your code below
t = mov[['actor_2_name', 'gross', 'actor_2_facebook_likes']]
t = t.sort_values(by='gross', ascending=False)
top10Gross = list(t.head(10)['actor_2_name'])

t = t.sort_values(by='actor_2_facebook_likes', ascending=False)
top10FacebookLikes = list(t.head(10)['actor_2_name'])

print(top10Gross)
print(top10FacebookLikes)
print(list(set(top10Gross) & set(top10FacebookLikes)))

['Joel David Moore', 'Kate Winslet', 'Judy Greer', 'Robert Downey Jr.', 'Robert Downey Jr.', 'Heath Ledger', 'Liam Neeson', 'Peter Cushing', 'Robert Downey Jr.', 'Christian Bale']
['Andrew Fiscella', 'Leonardo DiCaprio', 'Tom Hardy', 'Tom Hardy', 'Alan Rickman', 'Alan Rickman', 'Alan Rickman', 'Christian Bale', 'Christian Bale', 'Paul Walker']
['Christian Bale']


## In-Class Activity #5 (Bonus)

Find the average imdb_ratings by director, take it out into a list, write to a dictionary (director_name being the key and average rating being the value)?

<br>
<br>
This problem reqruies using a mix of Pandas and the Python Standard Library.

In [114]:
mov = pd.read_csv('movie_metadata.csv')

# Your code below
imdb = mov[['director_name','imdb_score']]
imdb = imdb.groupby(['director_name']).mean()
imdbList = list(imdb)

print(imdbList)

['imdb_score']

## In-Class Activity #6

Now let's use a new dataset: Human Resource Analytics. There are no exact questions I want to put forward here, but rather, it's an opportunity for you guys to follow some open ended directions and take this where you would want. 

Some things to explore:

1) Are there any general patterns in people that are leaving that are very noticeable? 
<br>
2) Are there any general patterns in people who are staying that are very noticeable?
<br>
3) Do you see any effects on salary or on employee's evaluation scores of how much an employee works?
<br>
4) How would you try to predict if an employee will leave? What columns/combination of columns would you use?