About the data

https://www.kaggle.com/jangot/ligue1-match-statistics/data

Match Statistics from top 5 European Leagues
Italy, Spain, England, Germany, France 2012-2017

by Jemilu Mohammed
last updated 3 months ago

In [37]:
# imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import sys

from scipy import spatial
from sklearn import metrics
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVR

In [38]:
# methods
def normalize(df):
    df_norm = df
    df_norm -= df_norm.min()
    df_norm /= df_norm.max() - df_norm.min()
    return df_norm

def filterData(df, managerSurname, homeOrAway):
    if ('home' == homeOrAway):
        return df[df['homeManagerName'].str.contains(managerSurname)]
    elif ('away' == homeOrAway):
        return df[df['awayManagerName'].str.contains(managerSurname)]
    else:
        return df

def populatePoint(goalDiff):
    if (goalDiff > 0):
        return 3
    elif (goalDiff == 0):
        return 1
    else:
        return 0

def computeDistance(stat1, stat2):
    statDistance = spatial.distance.cosine(stat1, stat2) # Calculating distance here
    return statDistance

In [39]:
# input parameters
managerSurname = 'Mourinho'
threshold = 1.5

In [40]:
# read data from csv
fullStatDF = pd.read_csv("data/FootballEurope.csv")
#fullStatDF.dtypes

C:\devtool\app\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (39,61) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [41]:
# clean data
fullStatDF = fullStatDF.dropna(how='any')
#fullStatDF2 = fullStatDF.copy(deep=True)

In [42]:
# filter data: specific manager, home or away
managerHomeDF = filterData(fullStatDF, managerSurname, 'home')
managerAwayDF = filterData(fullStatDF, managerSurname, 'away')

In [43]:
managerHomeDF['awayGoalFT'] = managerHomeDF['awayGoalFT'].apply(lambda x : int(x))
managerHomeDF['homeGoalFT'] = managerHomeDF['homeGoalFT'].apply(lambda x : int(x))

# homeGoal = managerHomeDF['homeGoalFT'].values.tolist()
# homeGoal = list(homeGoalFT)
# awayGoal = managerHomeDF['awayGoalFT'].values.tolist()
# awayGoal = list(homeGoalFT)
# idx = []
# for i in awayGoal:
#     for _ in i:
#         if type(_) == int:
#             idx.append(awayGoal.index(i))
# print(idx)
# # print(homeGoal)

C:\devtool\app\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\devtool\app\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [44]:
managerHomeDF['goalDiff'] = managerHomeDF['homeGoalFT'] - managerHomeDF['awayGoalFT']
managerHomeDF['points'] = managerHomeDF['goalDiff'].apply(populatePoint)

managerAwayDF['goalDiff'] = managerAwayDF['awayGoalFT'] - managerAwayDF['homeGoalFT']
managerAwayDF['points'] = managerAwayDF['goalDiff'].apply(populatePoint)

#def winLoss(x):
#    if x > 0:
#        return 3
#    if x ==0:
#        return 1
#    else:
#        return 0
#managerHomeDF2['points'] = managerHomeDF2['goalDiff'].apply(winLoss)
#managerHomeDF2.head()

C:\devtool\app\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\devtool\app\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\devtool\app\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\devtool\app\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [45]:
managerHomeDF.head()

,Unnamed: 0,id,homeTacklesTotalHT,homeShotsTotalHT,awayDispossessedFT,awayPassSuccessFT,awayRatingsFT,awayDribbleSuccessFT,awayDribblesAttemptedHT,awayTeamLineUp,...,date,awayTacklesTotalFT,homeRatingsFT,homeDribblesAttemptedFT,homeTackleSuccessFT,awayPossessionFT,awayShotsTotalFT,division,goalDiff,points
387,388,388,17,3,19.0,65.78,6.10,51.52,4,"Hugo Lloris,Kyle Naughton,Younes Kaboul,Michae...",...,2014-03-08,29,6.50,18.0,82.00,50.18,6.0,EPL,4,3
397,398,398,15,9,14.0,64.96,6.51,44.05,6,"Tim Howard,Seamus Coleman,Sylvain Distin,Phil ...",...,2014-02-22,42,6.56,27.0,77.08,50.61,8.0,EPL,1,3
421,422,422,21,11,22.0,69.50,6.26,52.50,11,"Tim Krul,Mathieu Debuchy,Mike Williamson,Steve...",...,2014-02-08,29,6.90,20.0,73.15,43.11,12.0,EPL,3,3
439,440,440,10,10,7.0,56.43,6.44,44.44,5,"Adrián,Guy Demel,James Tomkins,James Collins,J...",...,2014-01-29,27,6.50,17.0,74.36,30.56,1.0,EPL,0,1
447,448,448,9,8,10.0,49.23,6.36,80.00,3,"John Ruddy,Russell Martin,Ryan Bennett,Michael...",...,2014-05-04,36,6.47,26.0,72.22,31.79,6.0,EPL,0,1

In [46]:
# populate win/loss column
# managerHomeDF['point'] = managerHomeDF['point'.map(populateHomeGamePoint)

In [47]:
# fields interested
fieldsInterestedHome = ['awayManagerName', 'points', 'awayTackleSuccessFT', 'awayPossessionFT', 'awayPassesKeyFT', 'awayPassSuccessFT', 'awayCornersTotalFT', 'awayAerialsTotalFT', 'awayDribblesWonFT', 'awayDispossessedFT']
fieldsInterestedAway = ['homeManagerName', 'points', 'homeTackleSuccessFT', 'homePossessionFT', 'homePassesKeyFT', 'homePassSuccessFT', 'homeCornersTotalFT', 'homeAerialsTotalFT', 'homeDribblesWonFT', 'homeDispossessedFT']

# columns to apply feature scaling
scaleColumnsHome = ['awayTackleSuccessFT', 'awayPossessionFT', 'awayPassesKeyFT', 'awayPassSuccessFT', 'awayCornersTotalFT', 'awayAerialsTotalFT', 'awayDribblesWonFT', 'awayDispossessedFT']
scaleColumnsAway = ['homeTackleSuccessFT', 'homePossessionFT', 'homePassesKeyFT', 'homePassSuccessFT', 'homeCornersTotalFT', 'homeAerialsTotalFT', 'homeDribblesWonFT', 'homeDispossessedFT']

In [48]:
# narrow down fields
managerHomeDF = managerHomeDF[fieldsInterestedHome]
managerAwayDF = managerAwayDF[fieldsInterestedAway]

In [49]:
managerHomeDF.head()

,awayManagerName,points,awayTackleSuccessFT,awayPossessionFT,awayPassesKeyFT,awayPassSuccessFT,awayCornersTotalFT,awayAerialsTotalFT,awayDribblesWonFT,awayDispossessedFT
387,Tim Sherwood,3,74.07,50.18,4.0,65.78,4.0,20,8.0,19.0
397,Roberto Martinez,3,66.67,50.61,8.0,64.96,8.0,46,8.0,14.0
421,Alan Pardew,3,68.00,43.11,10.0,69.50,5.0,21,14.0,22.0
439,Sam Allardyce,1,62.32,30.56,2.0,56.43,3.0,42,5.0,7.0
447,Neil Adams,1,62.90,31.79,3.0,49.23,2.0,30,4.0,10.0

In [50]:
managerAwayDF.head()

,homeManagerName,points,homeTackleSuccessFT,homePossessionFT,homePassesKeyFT,homePassSuccessFT,homeCornersTotalFT,homeAerialsTotalFT,homeDribblesWonFT,homeDispossessedFT
245,Andre Villas-Boas,1,84.38,50.04,11,61.29,4.0,31,23.0,15
389,Felix Magath,3,50.83,45.12,6,53.85,5.0,58,7.0,12
411,Pepe Mel,1,63.89,42.78,13,62.19,5.0,21,7.0,12
417,Manuel Pellegrini,3,73.48,61.33,17,70.25,12.0,53,11.0,12
462,Steve Bruce,3,69.44,41.28,7,64.80,1.0,47,2.0,10

In [51]:
managerHomeGroupedDF = managerHomeDF.groupby('awayManagerName', as_index=False).mean()
managerHomeGroupedDF = managerHomeGroupedDF.sort_values('points', ascending=True)

managerAwayGroupedDF = managerAwayDF.groupby('homeManagerName', as_index=False).mean()
managerAwayGroupedDF = managerAwayGroupedDF.sort_values('points', ascending=True)

In [52]:
managerHomeGroupedDF.head()

,awayManagerName,points,awayTackleSuccessFT,awayPossessionFT,awayPassesKeyFT,awayPassSuccessFT,awayCornersTotalFT,awayAerialsTotalFT,awayDribblesWonFT,awayDispossessedFT
16,Josep Guardiola,0.000000,58.620000,0.600000,13.0,69.240,4.000000,36.0,11.0,17.000000
12,Gus Poyet,0.000000,45.510000,40.380000,5.0,55.950,4.000000,40.0,3.0,9.000000
9,Eddie Howe,0.000000,48.960000,40.050000,8.0,58.960,4.000000,22.0,16.0,12.000000
21,Jürgen Klopp,0.500000,74.920000,28.255000,10.5,68.375,7.000000,36.0,6.5,21.500000
43,Ronald Koeman,0.666667,70.363333,27.863333,10.0,62.330,4.333333,37.0,9.0,13.333333

In [53]:
managerAwayGroupedDF.head()

,homeManagerName,points,homeTackleSuccessFT,homePossessionFT,homePassesKeyFT,homePassSuccessFT,homeCornersTotalFT,homeAerialsTotalFT,homeDribblesWonFT,homeDispossessedFT
1,Alan Pardew,0.0,62.425,38.51,10.0,59.80,2.0,48.0,9.0,13.5
21,José Miguel González,0.0,76.850,38.74,7.0,62.29,3.0,23.0,10.0,14.0
3,Antonio Conte,0.0,72.730,0.44,10.0,60.76,5.0,18.0,12.0,12.0
44,Slaven Bilic,0.0,56.250,47.94,9.0,65.60,7.0,27.0,11.0,12.0
25,Lucas Alcaraz,0.0,69.170,32.09,4.0,42.64,4.0,38.0,7.0,8.0

In [54]:
#print(managerHomeDFGroup.columns)
managerHomeGroupedScaledDF = normalize(managerHomeGroupedDF[scaleColumnsHome])
managerHomeGroupedScaledDF.insert(0, 'points', managerHomeGroupedDF[['points']])
managerHomeGroupedScaledDF.insert(0, 'awayManagerName', managerHomeGroupedDF[['awayManagerName']])

managerAwayGroupedScaledDF = normalize(managerAwayGroupedDF[scaleColumnsAway])
managerAwayGroupedScaledDF.insert(0, 'points', managerAwayGroupedDF[['points']])
managerAwayGroupedScaledDF.insert(0, 'homeManagerName', managerAwayGroupedDF[['homeManagerName']])

In [55]:
managerHomeGroupedScaledDF.head()

,awayManagerName,points,awayTackleSuccessFT,awayPossessionFT,awayPassesKeyFT,awayPassSuccessFT,awayCornersTotalFT,awayAerialsTotalFT,awayDribblesWonFT,awayDispossessedFT
16,Josep Guardiola,0.000000,0.340862,0.004075,0.611111,0.494563,0.400000,0.753623,0.555556,0.742857
12,Gus Poyet,0.000000,0.038719,0.604437,0.166667,0.166090,0.400000,0.869565,0.111111,0.285714
9,Eddie Howe,0.000000,0.118230,0.599457,0.333333,0.240484,0.400000,0.347826,0.833333,0.457143
21,Jürgen Klopp,0.500000,0.716525,0.421446,0.472222,0.473183,0.700000,0.753623,0.305556,1.000000
43,Ronald Koeman,0.666667,0.611508,0.415535,0.444444,0.323777,0.433333,0.782609,0.444444,0.533333

In [56]:
managerHomeGroupedScaledDF.shape

(52, 10)

In [57]:
managerAwayGroupedScaledDF.head()

,homeManagerName,points,homeTackleSuccessFT,homePossessionFT,homePassesKeyFT,homePassSuccessFT,homeCornersTotalFT,homeAerialsTotalFT,homeDribblesWonFT,homeDispossessedFT
1,Alan Pardew,0.0,0.401136,0.593731,0.333333,0.408961,0.000000,0.782609,0.363636,0.537736
21,José Miguel González,0.0,0.749819,0.597318,0.190476,0.468303,0.111111,0.239130,0.409091,0.566038
3,Antonio Conte,0.0,0.650230,0.000000,0.333333,0.431840,0.333333,0.130435,0.500000,0.452830
44,Slaven Bilic,0.0,0.251873,0.740799,0.285714,0.547188,0.555556,0.326087,0.454545,0.452830
25,Lucas Alcaraz,0.0,0.564177,0.493606,0.047619,0.000000,0.222222,0.565217,0.272727,0.226415

In [58]:
managerAwayGroupedScaledDF.shape

(49, 10)

In [ ]:
# Correlation Map: points gained VS opponents' statistics

In [66]:
# Build Data Frame with points lower than threshold
managerHomeGroupedScaledBelowThresholdDF = managerHomeGroupedScaledDF[managerHomeGroupedScaledDF['points'] < threshold]
managerHomeGroupedScaledBelowThresholdDF.shape

(11, 10)

In [71]:
managerHomeOpponentSimilarityRecord = []

tempReferenceRecord = managerHomeGroupedScaledBelowThresholdDF.iloc[4]

for i in range(len(managerHomeGroupedScaledBelowThresholdDF)):
    statDistance = computeDistance(tempReferenceRecord[scaleColumnsHome].values.tolist(), managerHomeGroupedScaledBelowThresholdDF.iloc[i][scaleColumnsHome].values.tolist())
    managerHomeOpponentSimilarityRecord.append((managerHomeGroupedScaledBelowThresholdDF.iloc[i]['awayManagerName'], statDistance))
    
print(managerHomeOpponentSimilarityRecord)

[('Josep Guardiola', 0.079458952344999001), ('Gus Poyet', 0.16532310478312706), ('Eddie Howe', 0.16221418830118972), ('Jürgen Klopp', 0.041174397650845962), ('Ronald Koeman', 0.0), ('Javier Aguirre', 0.13025621583993297), ('Neil Adams', 0.091467163173431287), ('Paul Clement', 0.12176294380847752), ('Mauricio Pellegrino', 0.1578368013046586), ('Sean Dyche', 0.06014118212770625), ('Steve Clarke', 0.019843937990535965)]

In [ ]:
# Calculate Distances between each record pair